<h2>List of Disciplines</h2>
<div>
  <div>
    <h3>Add New Discipline:</h3>
    <input #input type="text" [(ngModel)]="name" placeholder="Theme" />
    <input #input type="text" [(ngModel)]="day" placeholder="Day" />
    <input #input type="time" [(ngModel)]="hour" />
    <button type="button" (click)="disciplines.add(name, day, hour)">
      Save
    </button>
  </div>
</div>
<br />
<div>
  <div>
    <table>
      <h3>Registered disciplines:</h3>
      <tr>
        <th>Theme</th>
        <th>Day</th>
        <th>Hour</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let discipline of disciplines.getDiscipline(); index as i">
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.day }}</td>
        <td>{{ discipline.hour }}</td>
        <td>
          <button type="button" (click)="disciplines.remove(i)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
